@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu&display=swap');

/* Specify in CSS
Use the following CSS rules to specify these families:

font-family: 'Pacifico', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Ubuntu', sans-serif; */


#topnavbar{
    padding-left: 10px;
    background: linear-gradient(to bottom right, #0099ff 0%, #0000ff 100%);
    font-family: 'Roboto Condensed';
}

.site-content{
    background-image: url("../img/pencils.JPG");
    background-size: cover;
    background-attachment: fixed;
    
}

.site-title, .site-desc{
    font-family: 'Righteous';
    color: white;
}

.site-title{
    margin-top: 10%;
    margin-bottom: 6%;
    font-size: 50px;
    padding: 10%;
}

.site-desc{
    font-size: 24px;
    padding-left: 10%;
}

.site-btn1{
    margin-left: 20%;
    background-color: black;
    color: white;
}

.site-btn2{
    background-color: white;
}

.site-btn1,.site-btn2{
    margin-top: 5%;
    margin-bottom: 40%;
}